img {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    transition: 2s;
}
img:hover {
    transform: rotate(100000turn);
}
div {
    text-align: center;
}
html {
    font-family: 'Comic Sans MS', 'Trebuchet MS';
    background-color: #000000;
    color: whitesmoke;
    text-align: center;
}
button {
    border-radius: 3px;
    border-style: solid;
    border-color: #FF10F0;
    color: #FF10F0;
    width: 100px;
    text-align: center;
    border-width: 3px;
    padding: 6px 12px;
    background-color: #03071e;
    transition: all 0.25s;
}
h2 {
    text-align:center
}
button:hover {
    border-color: #f1ff5c;
    color: #f1ff5c;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    cursor: pointer;
}
.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.marquee-section {
    position: relative;
    min-height: 82px;
}

.marquee-section, .marquee-section * {
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
}

.marquee-div {
    position: absolute;
    animation: move-left-to-right linear 12.5s infinite;
}

/* use this one to move from left to right direction */
@keyframes move-left-to-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

/* use this one to move from right to left direction */
@keyframes move-right-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}